<div ng-show="model.error" class="alert alert-danger">
    {{model.error}}
</div>
<div>
    <select name="majorSelect"
            class="form-control selectBar"
            ng-options="major as major for major in model.majors"
            ng-model="model.selectedMajor"
            ng-change="model.getMajorClasses()">
        <option value="" disabled selected>Select the major</option>
    </select>

    <select name="classSelect"
            class="form-control selectBar"
            ng-options="class as class.code.concat(': ').concat(class.name) for class in model.classes"
            ng-model="model.selectedClass">
        <option value="" disabled selected>Select the class</option>
    </select>

    <a class="btn btn-success" ng-click="model.search()">
        Search
    </a>
</div>