<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button aria-label="Go Back" ng-href="#/">
            <i class="material-icons">arrow_back</i>
        </md-button>

        <md-truncate class="toolbar">
            Claper
        </md-truncate>

        <span flex></span>
        <md-button class="md-fab md-mini" aria-label="profile" ng-href="#/profile">
            <i class="material-icons">person</i>
        </md-button>
    </div>
</md-toolbar>
<div class="md-padding middle-width">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Register</span>
                <span class="md-subhead">Register to start posting about what you need</span>
            </md-card-title-text>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-content>
            <div layout="column" layout-align="center stretch">
                <label><b>Username</b></label>
                <md-input-container class="md-block">
                    <label>Your user name</label>
                    <input required name="username" ng-model="model.user.username">
                    <div ng-messages="model.userNameError">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>

                <label><b>Password</b></label>
                <md-input-container class="md-block">
                    <label>Your password</label>
                    <input required name="password" type="password" ng-model="model.user.password">
                    <div ng-messages="model.passwordError">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>

                <label><b>Verify password</b></label>
                <md-input-container class="md-block">
                    <label>Verify password</label>
                    <input required name="password" type="password" ng-model="model.user.verifyPassword">
                    <div ng-messages="model.passwordVerifyError">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>

                <div layout="row">
                    <label>Are you school's official?</label>
                    <md-radio-group ng-model="model.user.isSchoolOfficial" style="margin-left: 10px" layout="row">
                        <md-radio-button value="true" class="md-primary">Yes</md-radio-button>
                        <md-radio-button value="false" class="md-primary">No</md-radio-button>
                    </md-radio-group>
                </div>

                <label><b>First name</b></label>
                <md-input-container class="md-block">
                    <label>First name</label>
                    <input required name="firstName" ng-model="model.user.firstName">
                    <div ng-messages="model.firstNameError">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>

                <label><b>Last name</b></label>
                <md-input-container class="md-block">
                    <label>Last name</label>
                    <input required name="lastName" ng-model="model.user.lastName">
                    <div ng-messages="model.lastNameError">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>

                <label><b>Email</b></label>
                <md-input-container class="md-block">
                    <label>Your email</label>
                    <input required name="email" type="email" ng-model="model.user.email">
                    <div ng-messages="model.emailError">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>
            </div>
        </md-card-content>
        <md-card-actions>
            <div layout="row" layout-align="center end">
                <md-button ng-click="model.createUser()" class="md-primary md-raised">
                    Register
                </md-button>
                <md-button ng-click="model.gobackLogin()" class="md-warn md-raised">
                    Cancel
                </md-button>
            </div>
        </md-card-actions>
    </md-card>
</div>