<div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button aria-label="Go Back" ng-href="#/">
                <i class="material-icons">arrow_back</i>
            </md-button>

            <md-truncate class="toolbar">
                Claper
            </md-truncate>

            <span flex></span>
            <md-button class="md-fab md-mini"
                       ng-show="model.isCurrentUser() || model.isAdmin"
                       aria-label="profile" ng-href="model.gotoEdit()">
                <i class="material-icons">mode_edit</i>
            </md-button>
        </div>
    </md-toolbar>
    <div class="md-padding">
        <md-card>
            <md-card-content>
                <div layout="row" layout-sm="column" layout-xs="column">
                    <div flex-gt-sm="33">
                        <label class="md-headline">Favorites</label>
                        <!--<md-divider></md-divider>-->
                        <div>
                            <label ng-show="model.userFavorites.length === 0">
                                No favorites!
                            </label>
                            <md-list ng-show="model.userFavorites.length > 0">
                                <md-list-item class="md-3-line" ng-repeat="post in model.userFavorites"
                                              ng-href="#/post/detail/{{post._id}}">
                                    <div layout="row" layout-align="space-between center">
                                        <div class="md-list-item-text">
                                            <!--<h2>{{post.postType}}</h2>-->
                                            <h3><b>{{post.classCode}}: {{post.className}}</b></h3>
                                            <h5>Offer: ${{post.offerAmount}}</h5>
                                            <p>{{post.content.substring(0, 100).concat('...')}}</p>
                                        </div>
                                        <md-button class="md-fab md-warn"
                                                   ng-show="model.isAdmin || model.isCurrentUser()"
                                                   ng-click="model.deleteFav(post._id)">
                                            <md-icon md-font-library="material-icons">
                                                delete
                                            </md-icon>
                                        </md-button>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>

                    <md-divider style="margin-right: 10px"></md-divider>

                    <div flex-gt-sm="33" style="margin-bottom: 20px">
                        <div>
                            <div layout="row" layout-align="space-between center">
                                <label class="md-headline">Posts</label>
                                <md-button class="md-fab md-primary"
                                           ng-show="model.isCurrentUser()"
                                           aria-label="New post"
                                           ng-href="#/posts/new">
                                    <md-icon md-font-library="material-icons">border_color</md-icon>
                                </md-button>
                            </div>
                        </div>
                        <!--<md-divider></md-divider>-->
                        <div>
                            <label ng-show="model.userPosts.length === 0">
                                This user hasn't posted anything.
                            </label>
                            <md-list ng-show="model.userPosts.length > 0">
                                <md-list-item class="md-3-line" ng-repeat="post in model.userPosts"
                                              ng-href="#/post/detail/{{post._id}}">
                                    <div class="md-list-item-text">
                                        <!--<h2>{{post.postType}}</h2>-->
                                        <h2>{{post.classCode}}: {{post.className}}</h2>
                                        <h4>{{post.dateCreated}}</h4>
                                        <p>{{post.content.substring(0, 65).concat('...')}}</p>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>

                    <md-divider style="margin-right: 10px"></md-divider>

                    <div flex-gt-sm="33">
                        <div>
                            <span class="md-headline">Reviews</span>
                        </div>
                        <!--<md-divider></md-divider>-->
                        <div>
                            <label ng-show="model.userReviews.length === 0">
                                This user doesn't have any reviews
                            </label>
                            <md-list flex ng-show="model.userReviews.length > 0">
                                <md-list-item class="md-3-line" ng-repeat="review in model.userReviews">
                                    <div class="md-list-item-text">
                                        <h2>{{review.title}} * {{review.rating}}/10</h2>
                                        <h3>{{review.dateCreated}}</h3>
                                        <p>{{review.content}}</p>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>