<div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button aria-label="Go Back" ng-href="#/">
                <i class="material-icons">arrow_back</i>
            </md-button>

            <md-truncate class="toolbar">
                Claper
            </md-truncate>
        </div>
    </md-toolbar>
    <div>
        <div class="md-padding">
            <md-card class="md-padding middle-width">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Login</span>
                        <span class="md-subhead">Sign in using your username and password</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                    <div layout="column" layout-align="center stretch">
                        <label><b>Username</b></label>
                        <md-input-container class="md-block">
                            <label>Your user name</label>
                            <input required name="username" ng-model="model.user.username">
                            <div ng-messages="model.userNameError">
                                <div ng-message="required">This field is required</div>
                            </div>
                        </md-input-container>

                        <label><b>Password</b></label>
                        <md-input-container class="md-block">
                            <label>Your password</label>
                            <input required name="password" type="password" ng-model="model.user.password">
                            <div ng-messages="model.passwordError">
                                <div ng-message="required">This field is required</div>
                            </div>
                        </md-input-container>

                        <label>Don't have an account? <a ng-href="#/register">Click here to sign up.</a></label>
                    </div>
                </md-card-content>
                <md-button class="md-primary md-raised md-block"
                           ng-click="model.login()">
                    Login
                </md-button>
            </md-card>
        </div>
    </div>
</div>