<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button aria-label="Go Back" ng-href="#/profile">
            <i class="material-icons">arrow_back</i>
        </md-button>

        <md-truncate class="toolbar">
            Claper
        </md-truncate>

        <span flex></span>
        <md-button class="md-fab md-mini" aria-label="delete user" ng-click="model.deleteUser()">
            <i class="material-icons">delete</i>
        </md-button>
    </div>
</md-toolbar>
<md-content class="md-padding">
    <md-card class="middle-width">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Edit</span>
                <span class="md-subhead">Make change(s) to your profile</span>
            </md-card-title-text>
            <md-button class="md-fab md-primary" ng-click="model.updateUser()">
                <md-icon md-font-library="materials-icon">check</md-icon>
            </md-button>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-content>
            <div layout="column" layout-align="center stretch">
                <label><b>Username</b></label>
                <md-input-container class="md-block">
                    <label>Your user name</label>
                    <input required name="username" ng-model="model.user.username">
                    <div ng-messages="model.userNameError">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>

                <label><b>First name</b></label>
                <md-input-container class="md-block">
                    <label>First name</label>
                    <input required name="firstName" ng-model="model.user.firstName">
                    <div ng-messages="model.firstNameError">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>

                <label><b>Last name</b></label>
                <md-input-container class="md-block">
                    <label>Last name</label>
                    <input required name="lastName" ng-model="model.user.lastName">
                    <div ng-messages="model.lastNameError">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>

                <label><b>Email</b></label>
                <md-input-container class="md-block">
                    <label>Your email</label>
                    <input required name="email" type="email" ng-model="model.user.email">
                    <div ng-messages="model.emailError">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
</md-content>